<li>
    <p>
        <small>
                <a href="/comments/destroy/<%=comment._id%>">X</a>
        </small>
        <%=comment.content%>
        <br>
        <small>
                <%=comment.user.name%>
        </small>
     </p>
</li>