        <link rel="stylesheet" href="/css/user_profile.css">
       <!-- <a href="/users/signOut">Sign Out</a> -->
        <h1>FriendsBook/ <%=title%></h1>

        <p><%=user.name%></p>
        <p><%=user.email%></p>
        

       